/* TABLE-STYLE */
table {
  margin: auto;
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  height: 60px;
}

td {
  width: 60px;
}

h1 {
  color: blue;
}

/* OTHER STYLE */
.top-bar {
  display: inline-block;
}

/* CHESS-LOGIC */
.white {
  background-color: white;
}

.black {
  background-color: burlywood;
}

.white.active {
  background-color: rgb(250, 234, 128);
}

.black.active {
  background-color: rgb(242, 213, 28);
}

/* PIECE IMAGES */

.black-rook {
  background-image: url(../../assets/images/brook.png);
}

.white-rook {
  background-image: url(../../assets/images/wrook.png);
}

.black-knight {
  background-image: url(../../assets/images/bknight.png);
}

.white-knight {
  background-image: url(../../assets/images/wknight.png);
}

.black-bishop {
  background-image: url(../../assets/images/bbishop.png);
}

.white-bishop {
  background-image: url(../../assets/images/wbishop.png);
}

.black-king {
  background-image: url(../../assets/images/bking.png);
}

.white-king {
  background-image: url(../../assets/images/wking.png);
}

.black-queen {
  background-image: url(../../assets/images/bqueen.png);
}

.white-queen {
  background-image: url(../../assets/images/wqueen.png);
}

.black-pawn {
  background-image: url(../../assets/images/bpawn.png);
}

.white-pawn {
  background-image: url(../../assets/images/wpawn.png);
}