.board-component {
  height: 100%;
}

table {
  height: 100vh;
  width: 100vh;
  table-layout: fixed;
  margin: auto;
}

/* BACKGROUND COLOR */
.white {
  background-color: white;
}

.white.active {
  background-color: rgb(250, 234, 128);
}

.black {
  background-color: burlywood;
}

.black.active {
  background-color: rgb(242, 213, 28);
}

/* PIECE IMAGES */

.black-rook {
  background-image: url(../../assets/images/br.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.white-rook {
  background-image: url(../../assets/images/wr.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.black-knight {
  background-image: url(../../assets/images/bk.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.white-knight {
  background-image: url(../../assets/images/wk.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.black-bishop {
  background-image: url(../../assets/images/bb.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.white-bishop {
  background-image: url(../../assets/images/wb.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.black-king {
  background-image: url(../../assets/images/bk.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.white-king {
  background-image: url(../../assets/images/wk.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.black-queen {
  background-image: url(../../assets/images/bq.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.white-queen {
  background-image: url(../../assets/images/wq.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.black-pawn {
  background-image: url(../../assets/images/bp.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.white-pawn {
  background-image: url(../../assets/images/wp.png);
  background-size: cover;
  background-repeat: no-repeat;
}